:root {
  --font-family-inter: 'Inter', sans-serif;
  --text-black: rgba(0, 0, 0, 1);
  --text-rgb-126-126-126: rgba(126, 126, 126, 1);
  --text-rgb-0-116-181: rgba(0, 116, 181, 1);
}

.text-black {
  color: var(--text-black);
}

.text-rgb-126-126-126 {
  color: var(--text-rgb-126-126-126);
}

.text-rgb-0-116-181 {
  color: var(--text-rgb-0-116-181);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.vector-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.cross_svgrepo-com-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-49-4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 17px;
  padding: 0px 12px 0px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.ellipse-1-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
  border: none;
  outline: none;
}

.text-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.vector-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.down-2_svgrepo-com-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-50-12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-126-126-126);
}

.frame-51-11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-0-116-181);
}

.frame-52-10 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-53-8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.vector-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.node-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-69-20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.vector-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.user-users_group-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.node-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-68-24 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.frame-70-19 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-9-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(217, 217, 217, 1);
}

.vector-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.youtube_svgrepo-com-32 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-35 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-62-31 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.vector-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(2, 2, 2, 1);
  border: none;
  outline: none;
}

.vector-40 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(2, 2, 2, 1);
  border: none;
  outline: none;
}

.vector-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(2, 2, 2, 1);
  border: none;
  outline: none;
}

.vector-42 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(2, 2, 2, 1);
  border: none;
  outline: none;
}

.vector-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(2, 2, 2, 1);
  border: none;
  outline: none;
}

.vector-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(2, 2, 2, 1);
  border: none;
  outline: none;
}

.vector-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(2, 2, 2, 1);
  border: none;
  outline: none;
}

.vector-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(2, 2, 2, 1);
  border: none;
  outline: none;
}

.money-stack-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.node-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-61-36 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.vector-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.secure_svgrepo-com-49 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-60-48 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.frame-67-30 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 6px 0px 6px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.rectangle-10-52 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(217, 217, 217, 1);
}

.vector-56 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(28, 39, 76, 1);
  border: none;
  outline: none;
}

.vector-57 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(28, 39, 76, 1);
  border: none;
  outline: none;
}

.settings_svgrepo-com-55 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-58 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.settings-54 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 93.98496240601504%;
}

.settings-53 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 6px 12px 6px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-11-59 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(217, 217, 217, 1);
}

.vector-63 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-64 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.help_svgrepo-com-62 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-65 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-58-61 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.vector-68 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-69 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-70 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-71 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-72 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.feedback_svgrepo-com-67 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-73 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-57-66 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.help-and-feedabck-60 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 6px 0px 6px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-13-74 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(217, 217, 217, 1);
}

.vector-78 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 1);
  fill: rgba(255, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-79 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 1);
  fill: rgba(255, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-80 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 1);
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.node-77 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-81 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-65-76 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.vector-88 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-89 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 0, 0, 1);
  border: none;
  outline: none;
}

.group-87 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-90 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(241, 241, 241, 1);
  border: none;
  outline: none;
}

.group-86 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-85 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.layer_2-84 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.node-83 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-91 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-55-82 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.vector-94 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1.25px solid rgba(0, 0, 0, 1);
  fill: rgba(255, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-95 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1.25px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.node-93 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-96 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-54-92 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.other-apps-75 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 6px 0px 6px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-12-97 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(217, 217, 217, 1);
}

.frame-71-18 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.account-body-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.body-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 85.22727272727273%;
}

.node-99 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.vector-101 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.mdi-bell-outline-100 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-103 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1.5px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.mynaui-search-102 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-105 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.node-104 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.top-bar-98 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-108 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 2.6666667461395264px;
  opacity: 0.3499999940395355;
  border: none;
  outline: none;
}

.combined-shape-109 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  opacity: 0.4000000059604645;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.rectangle-110 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 1.3333333730697632px;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.battery-107 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.wifi-111 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.mobile-signal-112 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.9-41-114 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.time-113 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 32px;
}

.top-nav-bar-106 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-135-117 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(217, 217, 217, 1);
}

.vector-120 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.home-119 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-121 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-6-118 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-125 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1.5px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-126 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.group-124 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.shorts-123 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-127 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-7-122 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-129 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.vector-131 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.subscription-130 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-8-128 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-133 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-9-132 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.ellipse-53-135 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(199, 190, 190, 1);
  border: none;
  outline: none;
}

.vector-137 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.ic-outline-plus-136 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-5-134 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.component-28-116 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.ellipse-52-139 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  fill: rgba(199, 190, 190, 1);
  border: none;
  outline: none;
}

.text-140 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.you-138 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.component-36-115 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.account-1 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
}

@media (max-width: 1440px) {
  .account-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .account-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
